<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <h2>Provide Company information</h2>
    <hr/>
    <div class="form-group">
        <div class="form-group row">
            <p class="error" ng-repeat="error in $ctrl.error.company">{{error}}</p>
            <label class="col-2 col-form-label" for="name">Company Name:</label>
            <div class="col-10">
                <input class="form-control" ng-model="$ctrl.data.company" type="text" id="name"/>
            </div>
        </div>
        <div class="form-group row">
            <p class="error" ng-repeat="error in $ctrl.error.email">{{error}}</p>
            <label class="col-2 col-form-label" for="email">Company Email:</label>
            <div class="col-10">
                <input class="form-control" ng-model="$ctrl.data.email" type="email" id="email" />
            </div>
        </div>
        <div class="form-group row">
            <p class="error" ng-repeat="error in $ctrl.error.document">{{error}}</p>
            <label class="col-2 col-form-label" for="doc">Marketing Document:</label>
            <div class="col-10">
                <input class="form-control-file" type="file" ngf-select ng-model="$ctrl.data.document" name="document" id="doc">
            </div>
        </div>
        <div class="form-group row">
            <p class="error" ng-repeat="error in $ctrl.error.logo">{{error}}</p>
            <label class="col-2 col-form-label" for="logo">Company Logo:</label>
            <div class="col-10">
                <input class="form-control-file" type="file" ngf-select ng-model="$ctrl.data.logo" name="file" id="logo">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <button class="form-control btn-primary" ng-click="$ctrl.submit($ctrl.data.document,$ctrl.data.logo)" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>