<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <hall-grid ng-if="$ctrl.data" active-cell="$ctrl.data" show-form="false" on-cell-click="$ctrl.addStand" cols="7" rows="4"></hall-grid>
</div>