<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <div style="float: left; width: 20%;" class="card" ng-if="$ctrl.localStorageService.get('stands')" ng-repeat="stand in $ctrl.data">
        <div class="card-block">
            <h4 class="card-title">{{stand.hall.event.title}}</h4>
            <p class="card-text"><strong>{{stand.company}}</strong> booked stand in event at <i>{{stand.hall.event.location}}</i>.<!-- Stand position is {{stand.cell_row}} row and {{stand.cell_col}} column--></p>
            <a ng-click="$ctrl.addInfo(stand)" class="btn btn-primary">Go to Stand</a>
        </div>
    </div>
    <div ng-if="!$ctrl.localStorageService.get('stands')">
        No stands to add visitor
    </div>
</div>