<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <div ng-if="$ctrl.message" class="alert alert-success">
        {{$ctrl.message}}
    </div>
    <h2>Add visitor's information</h2>
    <hr/>
    <div class="form-group">

        <div class="form-group row">
            <div class="alert alert-danger" ng-repeat="error in $ctrl.error.name">
                {{error}}
            </div>
            <label class="col-2 col-form-label" for="name">Visitor Name:</label>
            <div class="col-10">
                <input class="form-control" ng-model="$ctrl.data.name" type="text" id="name"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="alert alert-danger" ng-repeat="error in $ctrl.error.email">
                {{error}}
            </div>
            <label class="col-2 col-form-label" for="email">Visitor Email:</label>
            <div class="col-10">
                <input class="form-control" ng-model="$ctrl.data.email" type="email" id="email"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="alert alert-danger" ng-repeat="error in $ctrl.error.occupation">
                {{error}}
            </div>
            <label class="col-2 col-form-label" for="occupation">Visitor Occupation:</label>
            <div class="col-10">
                <input class="form-control" ng-model="$ctrl.data.occupation" type="text" id="occupation"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <button class="form-control btn-primary" ng-click="$ctrl.submit()" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>