<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <div class="map-responsive">
        <p class="lead">
            Kindly select any currently occurring event on map to book your stand.
        </p>
        <gmap on-marker-click="$ctrl.onMarkerClick"></gmap>
        <div class="overlay">
            <button class="form-control" ng-disabled="!$ctrl.event" ng-class="$ctrl.event ? 'btn-primary' : 'btn-default'" ng-click="$ctrl.bookPlace()">Book Your Place</button>
        </div>
    </div>
</div>