<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <div class="hero-unit"><!--CrossOver--> Event Management</div>
    <p>This is Application is developed for <!--CrossOver-->Event Management</p>
    <p>
        <a ng-click="$ctrl.$state.go('adminSignup')" class="btn btn-primary btn-large">
            Admin Sign up
        </a>
    </p>
</div>
