<header active-user="$ctrl.localStorageService.get('id')"></header>

<div class="container">
    <h2>Company Sign up</h2>
    <hr/>
    <div class="form-group">
        <div class="alert alert-danger" ng-repeat="error in $ctrl.error.name">
            {{error}}
        </div>
        <div  class="form-group">
            <label for="name">Name:</label>
            <input ng-model="$ctrl.data.name" type="text" id="name" class="form-control" />
        </div>
        <div class="alert alert-danger" ng-repeat="error in $ctrl.error.email">
            {{error}}
        </div>
        <div  class="form-group">
            <label for="email">Email address:</label>
            <input ng-model="$ctrl.data.email" type="email" id="email" class="form-control" />
        </div>
        <div class="alert alert-danger" ng-repeat="error in $ctrl.error.password">
            {{error}}
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input ng-model="$ctrl.data.password" id="pwd" type="password" class="form-control" />
        </div>
        <div>
            <button ng-click="$ctrl.submit()" class="btn btn-default" type="submit">Sign up</button>
        </div>
    </div>
</div>
