<div class="hall-grid">
    <!--define ng-style height in percentage for responsiveness iterate over rows-->
    <div ng-style="{height: $ctrl.rowHeight + '%'}" class="row" ng-repeat="row in $ctrl.grid">
        <div ng-style="{width: $ctrl.cellWidth + '%'}" class="col-md-1" ng-repeat="data in row"
             ng-click="$ctrl.onCellClick(data)" ng-class="{active: data.active}">
            <div class="cell-content">
                <div ng-if="$ctrl.showForm"> <!--$ctrl.showForm-->
                    Price:<input ng-model="data.price" class="content"/>
                </div>

                <div ng-if="!$ctrl.showForm"> <!--!$ctrl.showForm-->
                    <div ng-if="data.company">
                        <div><img style="width: 20px" ng-src="api/image/{{ data.logo }}"></div>
                        <div>{{ data.company }}</div>
                        <div ng-if="data.document" ><a href="api/image/{{ data.document }}" download>Download Marketing Document</a></div>
                    </div>
                    <div ng-if="data.price && !data.company">
                        <strong>Available stand</strong>
                        <div>Price: {{ data.price }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
