.hall-grid {
  width: 100%;
  height: 100%;

  .row {
    &:after {
      clear: both;
      display: block;
      content: '';
    }
  }

  .col-md-1 {
    display: table;
    background-color: #e4b9b9;
    border: 1px solid #ddd;
    min-height: 10vw;
    float: left;
    .cell-content {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .content {
        width: 100%;
      }
    }
    &.active {
      background: darkseagreen;
    }
  }
}
