@import "~bootstrap/dist/css/bootstrap.css";
html, body {
  height: 100%;
}
body {
  padding-top: 70px;
}
li {
  cursor: pointer;
  cursor: hand;
}
.map-responsive{
  padding-bottom:50%;
  position:relative;
  height:0;
}
.input-group {
  width:100%;
}
.overlay {
  background:#fff;
  opacity:.8;
  position:relative;
  padding:5px;
  bottom: 60px;
  z-index:2;
  width: 200px;
  height:44px;
  text-align: center;
  border-radius:5px;
  margin-bottom: -22px;
  margin-left: -100px;
  left: 50%;
}
.footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}
