<header active-user="$ctrl.localStorageService.get('id')" is-admin="1"></header>

<div class="container">
    <div class="form-group row">{{$ctrl.cols}},{{$ctrl.rows}}
    <hall-grid active-cell="false" cols="$ctrl.cols" rows="$ctrl.rows" show-form="true" on-cell-click="$ctrl.onCellClick"></hall-grid>
    </div>
    <div class="form-group row">
        <div class="col-10">
            <button class="form-control btn-primary" ng-click="$ctrl.hallManaged()">Done</button>
        </div>
    </div>
</div>