<div class="center-block">
    <legend class="text-center">Create Event</legend>

    <div class="input-group">
        <span class="has-float-label">
            <input class="title form-control" id="name" type="text" placeholder="Event Name">
            <label for="name">Name</label>
        </span>
    </div>
    <div class="input-group">
        <span class="has-float-label">
            <input class="rows form-control" id="rows" type="text" placeholder="Rows in hall">
            <label for="name">Number of Rows</label>
        </span>
    </div>
    <div class="input-group">
        <span class="has-float-label">
            <input class="cols form-control" id="cols" type="text" placeholder="Columns in hall">
            <label for="name">Number of Columns</label>
        </span>
    </div>
    <div class="input-group">
        <span class="has-float-label">
            <input class="date-picker startDate form-control" id="startdate" type="text" placeholder="Start Date">
            <label for="startdate">Start Date</label>
        </span>
    </div>
    <div class="input-group">
        <span class="has-float-label">
            <input class="date-picker endDate form-control" id="enddate" type="text" placeholder="End Date">
            <label for="enddate">End Date</label>
        </span>
    </div>
    <div class="input-group">
        <button class="submit form-control">Submit</button>
    </div>
</div>
