<header active-user="$ctrl.localStorageService.get('id')" is-admin="1"></header>

<div class="container">
    <div class="map-responsive">
        <p class="lead">
            Kindly click any location to add an event on map.
        </p>
        <gmap on-click="$ctrl.onMapClick" on-marker-click="$ctrl.onMarkerClick"></gmap>
    </div>
</div>
</div>