<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><!--CrossOver--> Event Management</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--Check if user is not logged in than display sign up and sign in-->
            <ul ng-if="!$ctrl.activeUser" class="nav navbar-nav">
                <li class="active"><a ng-click="$ctrl.$state.go('home')">Home</a></li>
                <li><a ng-click="$ctrl.$state.go('signup')">Sign up</a></li>
                <li><a  ng-click="$ctrl.$state.go('signin')">Sign in</a></li>
            </ul>
            <!--Check if user is logged in than dispklay manage stand if not admin and sign out-->
            <ul ng-if="$ctrl.activeUser" class="nav navbar-nav">
                <li class="active"><a ng-click="$ctrl.$state.go('home')">Home</a></li>
                <li ng-if="!$ctrl.isAdmin"><a  ng-click="$ctrl.$state.go('manage')">Manage Stand</a></li>
                <li><a  ng-click="$ctrl.$state.go('signout')">Sign out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>